$grey: #eeeae4;
$grey2: #d3ccbd;
$red: #a85247;
$black: #231f20;
@font-face {
    font-family: 'fellabook';
    src: url('../fonts/fella-webfont.woff2') format('woff2'),
         url('../fonts/fella-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-BookItalic';
    src: url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-BookItalic.otf')  format('opentype'),
           url('../fonts/Gotham-BookItalic.woff') format('woff'), url('../fonts/Gotham-BookItalic.ttf')  format('truetype'), url('../fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Bold.otf')  format('opentype'),
           url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf')  format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Light.otf')  format('opentype'),
           url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf')  format('truetype'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Medium.otf')  format('opentype'),
           url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf')  format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    -moz-border-raius: $radius;
    -ms-border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
  }
  @mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
    -ms-transition:     $transition;
}
@mixin transform($transform...) {
    -moz-transform:    $transform;
    -o-transform:      $transform;
    -webkit-transform: $transform;
    transform:         $transform;
    -ms-transform:     $transform;
}
body{
    background-color: $grey;
}
a{
    color: inherit;
    outline: $black;
    &:hover{
        color: inherit;
    }
}

// .animatedtext{
//     opacity:0;
// }
.gothambookitalic{
    font-family: 'Gotham-BookItalic';

}
.gothammedium{
    font-family: 'Gotham-Medium';

}
.mastheadcontainer{
    background: $black url('../img/orange-pattern.png');
    background-repeat: repeat;
    padding: 30px;
    // height: 100vh;
    height: calc(100vh - 20px );
    header.masthead {
        height: 100%;
        // padding-top: 10rem;
        background: url('../img/tcam-landingimage.jpg') rgba(0,0,0,1);
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: #fff;
        @media screen and (max-width:480px){
            .wow2{
                width: 150px;
            }
        }
        .my-auto{
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
            height: 87%;
            // @media screen and (max-width: 480px){
            //     width: 70%;
            // }
            // width: 100%;
            @media screen and (max-width: 1366px){
                // top: 45%;
                img.wow2{
                    width: 250px;
                }
            }
            @media screen and (max-width: 768px){
                top: 48%;
            }
            >.row{
                height: 100%;
                >div{
                    height: 100%;
                    h2{
                        @include transform(translate(-50%,-50%));
                        top: 50%;
                        left: 50%;
                        @media screen and (max-width: 480px){
                            top: 40% !important;
                        }
                        @media screen and (max-width: 1024px){
                            top: 45% !important;
                        }
                        @media screen and (min-width: 1025px) and (max-width: 1366px){
                            top: 45% !important;
                        }
                        @media screen and (max-width: 768px){
                            width: 80%;
                        }
                    }
                    .arrow{
                        bottom: 50px;
                        position: absolute;
                        @include transform(translate(-50%,-50%));
                        top: 90%;
                        left: 50%;
                        @media screen and (max-width: 480px){
                            top: 96% !important;
                        }
                    }
                }
            }

        }
        /*@media (min-width: 992px){*/
                // height: 100vh;
                // min-height: 650px;
                // padding-top: 0;
                // padding-bottom: 0;       
        /*}*/
        h1{
            font-size: 13vw;
            @media screen and (min-width:1921px){
                font-size: 12vw;
            }

        }
        
        .header-divider{
            margin-top: 20px;
            margin-bottom: 15px;
            width: 3px;
            @media screen and (max-width: 480px){
                height: 120px;
            }
        }
        @media screen and (max-width:480px){
            h3{
                font-size: 17px;
            }
        }
        .header-text{
            margin-bottom: 20px;
        }  
    }
}


.siteborder{
    @media screen and (min-width:1025px){
        border: 30px solid $black;
        border-bottom: none;
    }
}
.mt-60{
    margin-top: 60px;
}

h1{
    font-family: 'fellabook';
    font-size: 45px;
    margin-top: 0px;
    @media screen and (max-width: 1024px){
        font-size: 36px;
    }
}


h3{
    line-height: 1.5;
    font-family: 'Gotham-BookItalic';

}
h4{
    line-height: 1.3;
    font-family: 'Gotham-BookItalic';
    font-size: 20px;

}
p{
    font-family: 'Gotham-Light';
    font-size: 17px;
}
section{
    // &:not(:last-of-type){
    //     margin-bottom: 60px;
    // }
    margin-bottom: 60px;
}
.tcamlogo{
    width: 400px;
    @media screen and (max-width: 7688px){
        margin-bottom: 30px;
    }
}
.red{
    color: $red;
}
.grey{
    color: $grey;
}
.grey2{
    color: $grey2;
}
.redbg{
    background-color: $red;
    color: $grey;
}
.white{
    color: #fff;
}
.btn-red{
    background-color: $red;
    border: 2px solid $red;
    cursor: pointer;
    color: #fff;
    @include transition(background-color 0.5s ease-out);
    @include border-radius(0px);
    &:hover{
        background-color: $black;
        border: 2px solid $red;
        color: #fff;
        @include transition(background-color 0.5s ease-out);
        @include border-radius(0px);

    }
}
#sticky-sticky-wrapper{
    margin-bottom: 60px;
}
.navbar-default{
    background-color: $grey;
    font-family: 'Gotham-Medium';
    border-top: 5px solid $black;
    border-bottom: 1px solid $black;
    border-left: none;
    border-right: none;
    z-index: 999999 !important;
    @include border-radius(0px);
    .navbar-nav {
        width: 100%;
        text-align: center;
        > li {
            &.active{
                border-bottom: 5px solid $black;
                a{
                    background-color: transparent;
                    &:focus{
                        background-color: $grey;
                    }
                }
            }
          float: none;
          display: inline-block;
            text-transform: uppercase;
            a{
                color: $black;

            }
        }
      }
    
}
.divider{
    border-top: 5px solid $black;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 70%;
    float: right;
    &.full-width{
        width: 100%;
    }
    &.white{
        border-color: #fff !important;
    }
}
.redborder{
    border: 3px solid $red;
}
.menuheader{
    ul{
        li{
            padding-right: 2px;
            padding-left: 2px;
            img{width: 27px;}
        }
    }
}
#about-us{
    @media screen and (max-width: 768px){
        h1, h3{
            text-align: left;

        }

    }
    @media screen and (max-width: 480px){
        h3{
            font-size: 17px;
        }
    }
    .homeslidercontainer{
        position: relative;
        .homeslider-copy{
            position: absolute;
            bottom: 30px;
            left: 45px;
            color: #fff;
        @media screen and (max-width: 768px){
            bottom: 15px;
            left: 30px; 
        }
        }
        @media screen and (max-width:1024px){
            h1{font-size: 20px};
        }
        @media screen and (max-width:480px){
            h1{font-weight: bold};
        }
    }
    .investmentbanner{
        position: relative;
        img{
            padding: 0 0 15px 15px;
            cursor: pointer;
        }
        @media screen and (max-width:768px){
            img{
                float: none !important;
                padding: 0px;
                margin-bottom: 15px; 
            }
        }
    }
    .graphs{
        p{
            font-family: 'Gotham-Bold';
            margin-bottom: 5px;
            font-weight: bold;
            &:nth-child(1){
                font-size: 10.5pt;
                margin-bottom: 3px;
            } 
            &:nth-child(2), &:nth-child(3){
                font-size: 7pt;

            }
            &:last-of-type{
                margin-bottom: 15px;
            } 
        }
    }
}

#services{
    .servicescontainer{
        position: relative;
        color: #fff;
        background: url('../img/servicessliderbg.jpg');
        background-size: cover;
        background-position: center;
        padding: 30px;
        // .services-copy{
        //     position: absolute;
        //     top: 45px;
        //     left: 60px;
        //     z-index: 9999;
        // }
        .services-copy{
            p{
                font-size: 14pt !important;
            }
        }
        .servicesslider{
            margin-bottom: 0px;
            p{

                font-weight: 500;
                font-family: 'fellabook';
                text-transform: uppercase;
                @media screen and (min-width:769px){
                font-size: 21pt;
                }
            }
            .slick-dots{
                // @media screen and (min-width:769px){
                // bottom: -70px;
                
                // }
                li{
                    color: #fff;
                        font-size: 20pt;
                        // width: 18%;
                        // width: auto;
                        // @media screen and (max-width:480px){
                        //     width: 46px;
                        // }
                        // text-align: center;
                        font-family: 'fellabook';
                        // @media screen and (min-width:769px){
                        // &:not(:last-child){
                        //     span{
                        //         &:after {
                        //             background-color: #fff;
                        //             content: "";
                        //             display: inline-block;
                        //             height: 1px;
                        //             position: relative;
                        //             vertical-align: middle;
                        //             width: 0px;
                        //             margin-left: 30px;
                        //         }
                        //     }
                        // }
                        &:last-child{
                            text-align: left
                        }
                        // &.slick-active{
                        //     font-weight: bold;
                        //         display: inline-block;
                        //         font-size: 35px;
                        //     position: relative;
                        //     top: 5px;
                        //     padding-right: 260px;
                        // }
                    }
            }
            
        }

    }
    .red{
        font-family: 'Gotham-Bold';
        font-style: italic;
    }
    .redborder{
        padding: 35px;
        @media screen and (max-width:480px){
            padding: 15px;
        }
    }
    ul{
        margin-top: 30px;
        li{
            font-family: 'Gotham-Light';
            font-size: 18pt;
            margin-bottom: 15px;
            color: #000;
        }
    }
    .redbg{
        padding: 15px 25px;
        h1{
            margin-bottom:0px;
            font-size: 36px;
            text-align: center;
            @media screen and (max-width:480px){
                font-size: 20px;
            }
        }
    }
}
#team{
    img{
        border: 10px solid $grey2;
        margin-bottom: 25px;
    }
    .teamslider{display:none}
    .teamwrapper{
        text-transform: uppercase;
        .bio{
            font-family: 'Gotham-Light';
            font-style: initial;
            text-align: left;
            font-size: 15px;
            text-transform: initial;
        }
        // @media screen and (max-width:768px){
        //     padding: 15px;
        // }
    }
    .partners{
        p{
            &:first-of-type{
                font-size: 18.38pt;
            }
            font-style: italic;
            font-weight: bold;
            font-family: 'Gotham-Bold';
            font-size: 13.31pt;
            margin-bottom: 5px;
        }
    }
    .divider{
        border-top: 2px solid $black;
        display: block;
        width: 100%;
        margin: 15px 0;
    }
    .partnerinfo{
        text-transform: uppercase;
    }
}
#clients{
    .border{
        border:2px solid $black;
        padding: 25px;
        @media screen and (max-width:480px){
            padding: 15px;
        }
        img{
            display: inline-block;
            margin: 10px;
            max-width: 100px;
        }
    }

}
#contact{
    background-color: $black;
    color: #fff;
    padding-top: 60px;
    p{
        font-size: 11.5pt;
    }
    section{
        margin-bottom: 0px;
    }

    ul{
        li{
            padding-right: 2px;
            padding-left: 2px;
            img{width: 27px;}
        }
    }
    .container{
        margin-bottom: 30px;
    }
    .btn-red{
        &:hover{
            background-color: transparent;
            border-color: $red;
        }
    }
}


#registermodal{
        // height: 0;
        // width: 100%;
        // position: fixed;
        z-index: 999999;
        color: #fff;
        top: 0;
        left: 0;
        overflow-x: auto;
        text-align: center;
        // background: url('../img/orange-pattern.png') $black;
        
        @include transition(0.5s);
        .registerbg{
            background: $black;
            padding: 50px;
            // width: calc(100% - 60px);
            // @media screen and (min-width: 481px){
            //     height: calc(100% - 60px);
            // }
            
            // margin: 30px;
            // padding: 30px 0;
        }
        .closebtnOverlay {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px !important;
            font-weight: 300;
            z-index: 999999;
            &:hover{
                text-decoration: none;
            }
        }
        .form-control{
            @include border-radius(0px);
            border: 1px solid $grey;
            height: 46px;
            background: $black;
            color: #fff;
            font-family: 'Gotham-Medium';
        }
        @media screen and (max-width: 480px){
            h2{
                font-size: 20px;
            }
            h4{
                font-size: 16px;
            }
        }


}
@media screen and (max-width:768px){
    .registerbg .container {
        max-width: 690px;
    }
}
::-webkit-input-placeholder {
    text-align: center;
    color: #fff !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    color: #fff !important;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    color: #fff !important;
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    color: #fff !important;
 }
 
 #show1, #show2{
     cursor: pointer;
 }




 .servicesslider .slick-dots {
    position: relative;
    text-align: left;
    margin-bottom: 30px;
}


 .servicesslider .slick-dots li {
    position: relative;
    padding: .5rem 0;
    @include transform(all .3s cubic-bezier(.215,.61,.355,1));
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin-right: 25px;
    @media screen and (max-width:768px){
        margin-right: 21px;
    }
}

.servicesslider .slick-dots li:after {
    content: "";
    border-bottom: 2px solid #fff;
    position: absolute;
    // left: .9rem;
    left: 48px;
    height: 0;
    top: 25px;
    @include transform(all .3s cubic-bezier(.215,.61,.355,1));
    @include transform(scale3d(1,1,1));

}


@media screen and (min-width:769px){
.servicesslider .slick-dots .slick-active {
    padding-right: 300px;
    font-weight: bold;
}
}
.servicesslider .slick-dots li {
    position: relative;
    padding: .5rem 0;
    @include transform(all .3s cubic-bezier(.215,.61,.355,1));
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.servicesslider .slick-dots .slick-active:after {
    width: calc(100% - 50px);
    @include transform(scale3d(1,1,1));
}

.servicesslider .slick-dots li:last-child {
    padding-right: 0;
}

.js-typewriter{
    font-family: 'fellabook';

}
@media screen and (max-width:687px){
    .js-typewriter span{
        left: 0;
    }
}